---
import '@styles/global.css' 
import PageHeader from "@components/PageHeader.astro";
import SideBar from "@components/Sidebar.astro";
import Messages from "@/components/Messages.astro"
import type { UserRole } from "@type/roles";

interface Props {
  title: string;
  data: {
    userName: string;
    buttonLabel: string;
    role: UserRole;
  };
  showMessages?: boolean;
}

const { title, data, showMessages = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="app" class={`${showMessages ? 'list-messages' : ''}`}>
      <header id="page-header">
        <PageHeader
          userName={data.userName}
          buttonLabel={data.buttonLabel}
        />
      </header>

      <aside id="sidebar">
        <SideBar role={data.role} />
      </aside>

      <section id="content">
        <div class="p-4 md:p-8 lg:p-12">
          <slot />
        </div>
      </section>

      {showMessages && (
        <aside id="messages">
          <Messages />
        </aside>
      )}
    </div>

    <style>
      #app {
        display: grid;
        grid-template-areas:
          "header"
          "content";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        height: 100vh;
      }

      @media (min-width: 768px) {
        #app {
          grid-template-areas:
            "header header header"
            "sidebar content messages";
          grid-template-columns: auto 1fr 0;
        }

        #app.list-messages {
          grid-template-columns: auto 1fr 16rem;
        }
      }

      #page-header {
        grid-area: header;
      }

      #sidebar {
        display: none;
        grid-area: sidebar;
      }

      @media (min-width: 768px) {
        #sidebar {
          display: block;
        }
      }

      #content {
        grid-area: content;
        height: 100%;
        overflow-y: auto;
        padding: 1rem;
      }

      @media (min-width: 768px) {
        #content {
          padding: 0;
        }
      }

      #messages {
        display: none;
        grid-area: messages;
        background: white;
        border-left: 1px solid #D6D8DE;
        box-shadow: -2px 0 4px rgba(0, 0, 0, 0.05);
        padding: 1rem;
        overflow-y: auto;
      }

      @media (min-width: 768px) {
        #messages {
          display: block;
          padding: 1.5rem;
        }
      }
    </style>
  </body>
</html>
